body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

canvas {
	border: 0.1em solid var(--border-color);
}

button {
	position: relative;
	width: 15em;
	padding: 1em;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
	margin-bottom: 0.5em; /* Add margin to prevent overlapping */
}

button:hover {
	background-color: var(--button-hover-background-color);
}

.focus {
	width: 6.25em;
	height: 3.125em;
	border: 0.1em solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--focus-background-color);
	color: var(--focus-text-color);
	font-size: 0.875em;
	text-align: center;
}

#inspectorMenu {
	display: none;
	position: relative;
	background-color: var(--background-color);
	border: 0.1em solid var(--border-color);
	padding: 1em;
	border-radius: 0.3em;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

#inspectorMenu h3 {
	margin-top: 0;
}

#inspectorMenu label {
	display: block;
	margin-bottom: 0.3em;
}

#inspectorMenu input,
#inspectorMenu select {
	width: 100%;
	padding: 0.3em;
	margin-bottom: 0.6em;
	border: 0.1em solid var(--border-color);
	border-radius: 0.2em;
	background-color: var(--background-color);
	color: var(--text-color);
}

#inspectorMenu button {
	width: 100%;
	padding: 1em;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
}

#inspectorMenu button:hover {
	background-color: var(--button-hover-background-color);
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 20%;
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: var(--background-color);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

#iconGrid img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

#iconGrid img:hover {
  border-color: var(--button-hover-background-color);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 10px;
  padding: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.icon-grid img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.icon-grid img:hover {
  border-color: var(--button-hover-background-color);
}

.prerequisite-group {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.add-prerequisite {
	width: 2em;
	max-width: 20px;
	height: 2em;
	padding: 0.5em;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.2em;
}

.delete-prerequisite {
	width: 2em;
	max-width: 20px;
	height: 2em;
	padding: 0.5em;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.2em;
}

.add-prerequisite:hover {
  background-color: var(--button-hover-background-color);
}

/* Light mode colors */
:root {
	--background-color: #ffffff;
	--text-color: #000000;
	--border-color: #000000;
	--button-background-color: #007bff;
	--button-text-color: #ffffff;
	--button-hover-background-color: #0056b3;
	--grid-line-color: #e0e0e0;
	--focus-background-color: #f0f0f0;
	--focus-text-color: #000000;
}

/* Dark mode colors */
body.dark-mode {
	--background-color: #333333;
	--text-color: #ffffff;
	--border-color: #ffffff;
	--button-background-color: #444444;
	--button-text-color: #ffffff;
	--button-hover-background-color: #666666;
	--grid-line-color: #555555;
	--focus-background-color: #444444;
	--focus-text-color: #ffffff;
}
